*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(61, 81, 81);
    
}
.container_image{
    border-radius: 50%;
    border: 3px solid rgb(233, 233, 236);
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 200px;
}
.container_block{
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(24, 23, 24);
    
}
.container_content{
    color: rgb(142, 154, 164);
    margin-top:60px ;
    font-size: 25px;
}
.container_name{
    color: rgb(111, 192, 102);
    margin-top: 30px;
    font-size: 20px;
}